* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #3498db;
    background-color: #ecf0f1;
    border-radius: 20px;
    margin-bottom: 30px;
  
}

th {
    background-color: #3498db;
    border: 1px solid #2980b9;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    
}

td {
    border: 1px solid #3498db;
    padding: 12px;
    font-size: 16px;
    color: #2c3e50;
}

input[type="radio"] {
    margin-right: 6px;
}

input[type="button"],
button {
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

input[type="button"]:hover,
button:hover {
    background-color: #27ae60;
}

#risultato {
    font-size: 20px;
    color: #2c3e50;
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #34495e;
    font-size: 14px;
}
select {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc; /* Colore del bordo leggermente più chiaro */
    border-radius: 6px;
    background-color: #f9f9f9; /* Sfondo più chiaro */
    
   
}
